@import "src/scss/varaibles";
@import "src/scss/mixins";


.testimonials {
  background-image: url("../dist/img/footer-watermark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(74, 59, 78, 1);
  padding: 0 10px;

  &__container {
    background: url("../dist/img/footer-watermark.png");
    @include marginAndWidth(90%, 0 auto);
    @media (min-width: 1200px) {
      @include marginAndWidth(1200px, 0 auto);

    }
  }
  &__separator {
    background-color: #645766;
    height: 2px;
  }
  &__break {
    padding: 22px 0px 71px 0px;
    @media (min-width: 481px) and (max-width: 992px) {
      padding: 19px 0px 71px 0px;
    }
    @media (min-width: 993px) and (max-width: 1200px) {
      @include marginAndWidthFont(65%, 0 auto, 16px auto);
    }
    @media (min-width: 1200px) {
      @include marginAndWidthFont(65%, 0 auto, 16px auto);
    }
  }
  &__title {
    font-family: Montserrat;
    text-align: center;
    color: #fff;
    padding-top: 67px;
    line-height: 48px;
    font-weight: bold;
    font-size: 36px;
    @media (min-width: 481px) and (max-width: 992px) {
      line-height: 44px;
      padding-top: 108px;
      font-size: 42px;
    }
    @media (min-width: 992px) {
      line-height: 50px;
      padding-top: 108px;
      font-size: 48px;
    }
  }
  &__descriprion {
    color: #a291a5;
    text-align: center;
    padding-top: 37px;
    opacity: 0.8;
    line-height: 21px;
    font-size: 14px;
    @media (min-width: 481px) and (max-width: 992px) {
      display: inline-block;
      padding-top: 67px;
    }
    @media (min-width: 993px) and (max-width: 1200px) {
      @include mediaWidth(70%, 0 auto, block, 26px);
      padding-top: 118px;
    }
    @media (min-width: 1200px) {
      padding-top: 118px;
      @include mediaWidth(70%, 0 auto, block, 26px);
    }
  }
}
.clients {
  @include flex;
  @media (min-width: 481px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__card {
    @include flex;
    justify-content: center;
    @media (min-width: 481px) and (max-width: 992px) {
      width: 40%;
    }

    @media (min-width: 993px) and (max-width: 1200px) {
      @include paddingAndWidth(26%, 30px);
    }
    @media (min-width: 1200px) {
      width: 26%;
    }
  }
  &__logo {
    align-self: center;
    @include paddingAndWidth(165px, 49px 0px 37px 0px);
    @media (min-width: 481px) and (max-width: 992px) {
      padding: 75px 1px 37px 1px;
    }
  }
  &__small-logo {
    height: 100%;
    width: unset;
    @media (min-width: 481px) and (max-width: 992px) {
      height: unset;
      padding: 49px 1px 21px 1px;
    }
    @media (min-width: 993px) and (max-width: 1200px) {
      height: unset;
    }
    @media (min-width: 1200px) {
      height: unset;
    }
  }
  &__text {
    color: #fff;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    line-height: 24px;
  }
}

