* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "src/scss/mixins";

.header {
  display: flex;
  align-content: center;
  background: #27262A;
  padding-top: 32px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px){
    padding-bottom: 55px;
  }
  @media screen and (min-width: 1190px){
    background: rgb(1, 0, 5);
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__logo-block {
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    //@media screen and (min-width: 1200px){
    // margin-left: 90px;
    //}
  }
}



.purchase-btn {
  width: 119px;
  height: 37px;
  font-size: 15px;
  @media screen and (min-width: 768px){
    margin-right: 20px;
  }
}




.btn {
  border-radius: 40px;
  color: #FFFFFF;
  background-color: #8D81AC;
  font-weight: bold;
  cursor: pointer;
  border: none;
  &:hover {
    border-radius: 40px;
    color: #8D81AC;
    background-color: white;
    border: 1px solid #8D81AC;
    outline: none;
    font-weight: bold;
    cursor: pointer;
  }
}

.logo-link {
  text-decoration: none;
  display: flex;
  &:hover .st0 {
    fill: #fff;
  }
  &:hover .logo-name {
    color: white;
  }
}

.logo {
  width: 43px;
  height: 41px;
  @media screen and (min-width: 1200px){

  }
}

.logo-name {
  visibility: hidden;
  position: absolute;
  font-family: sans-serif;
  @media screen and (min-width: 768px) {
    position: relative;
    visibility: visible;
    color: #8D81AC;
    display: flex;
    align-items: center;
    margin-left: 17px;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    margin-top: 10px;
  }
}

.top-content-img {
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-position: 50% 68%;
  height: 600px;
  background-size: cover;
  width: 100%;
}



@import "src/scss/mixins";

.burger {
  position: relative;
  width: 44px;
  height: 37px;
  margin-right: 16px;

  float: right;
  @media screen and (min-width: 768px) {
    display: none;
  }
}


.burger-menu {
  margin-left: auto;
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.line {
  position: absolute;
  width: 26px;
  height: 3px;
  border-radius: 5px;
  border: 1px;
  background: white;
  //text-align: center;
  margin-left: 13px;
  margin-top: 16px;

  &:before, &:after {
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
    background: white;
    top: -6px;
    transition: 0.3s;
    border-radius: 5px;
  }

  &:after {
    top: 6px;
  }

  &:before {
    width: 15px;
    height: 3px;
    right: 0;
  }
}

.cross {
  position: absolute;
  margin-left: 13px;
  margin-top: 16px;

  &:before {
    content: "";
    position: absolute;
    width: 17px;
    height: 2px;
    background: white;
    transition: 0.3s;
    transform: rotate(-45deg);
  }

  &:after {
    content: "";
    position: absolute;
    width: 17px;
    height: 2px;
    background: white;
    transition: 0.3s;
    transform: rotate(45deg);
  }
}


.hidden {
  visibility: hidden;
  @media screen and (min-width: 768px) {
    visibility: visible;
  }
}


.navbar {
  z-index: 1;
  position: absolute;
  //width: 90%;
  left: 50%;
  top: 103px;
  transform: translateX(-50%);
  width: 291.9px;
  @media screen and (min-width: 500px){
    width: 500px;
  }
  @media screen and (min-width: 768px) {
    top: 35px;
    transform: none;
    left: 20%;
  }
  @media screen and (min-width: 900px) {
    top: 35px;
    transform: none;
    left: 26%;
  }
  @media screen and (min-width: 1200px) {
    top: auto;
    left: 46%;
  }
  @media screen and (min-width: 1300px) {
    top: auto;
    left: 50%;
  }
  @media screen and (min-width: 1400px) {
    top: auto;
    left: 52%;
  }
  @media screen and (min-width: 1450px) {
    top: auto;
    left: 56%;
  }

  &__list {
    background: #807878;
    list-style: none;
    user-select: none;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      @include flex-center;
      background: none;
      margin-top: 20px;
    }
    @media screen and (min-width: 1200px){
      margin-top: auto;
    }
  }

  &__item {
    background: #333333;
    margin-bottom: 1px;
    @media screen and (min-width: 768px) {
      background: none;

    }
  }

  &__item:last-child {
    margin-bottom: 1px;
  }

  &__link {
    position: relative;
    display: inline-block;
    width: 90%;
    margin-bottom: 21px;
    margin-left: 35px;
    margin-top: 29px;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    //font-family: "Montserrat", sans-serif;
    @media screen and (min-width: 768px) {
      color: #8D81AC;
      font-size: 16px;
    }
  }

  &__link:hover {
    color: #8D81AC;
    @media (min-width: 768px) {
      color: #ffffff;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      background-color: #8D81AC;
      height: 53px;
      left: -35px;
      @media (min-width: 768px) {
        content: none;
        color: white;
      }
    }
  }
}

.welcome {
  background-image: url('./img/mac.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 68%;
  height: 600px;

  &__container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  &__texts {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  &__title {
    margin-top: 50px;
    top: 153px;
    font-weight: bold;
    font-size: 48px;
    font-family: sans-serif;
    color: #FFFFFF;
    margin-bottom: 19px;
    @media screen and (min-width: 768px) {
      top: 186px;
      font-size: 72px;
    }
    @media screen and (min-width: 1400px) {
      font-size: 72px;
    }
  }

  &__description {
    //position: absolute;
    font-weight: bold;
    top: 221px;
    color: #8D81AC;
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 14px;
    @media screen and (min-width: 768px) {
      font-size: 24px;
      left: 21%;
    }
    @media screen and (min-width: 1200px) {
      font-size: 24px;
    }
  }

  &__version {
    font-weight: bold;
    top: 287px;
    color: #848E97;
    font-size: 14px;
    font-family: sans-serif;
  }
}

.download-btn {
  //margin-top: 394px;
  width: 290px;
  height: 45px;
  transform: translate(0%, 627%);
  @media screen and (min-width: 100px) {
    transform: translate(0%, 740%);
  }
  @media screen and (min-width: 207px) {

    transform: translate(0%, 880%);
  }
  @media screen and (min-width: 470px) {
    transform: translate(0%, 920%);
  }
  @media screen and (min-width: 768px) {
    width: 390px;
    height: 62px;
    transform: translate(0%, 600%);
  }
}
