.information{
    font-family: "Montserrat", sans-serif;
}

.wrapper{
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
    display: block;
    text-align: center;
}
.buttons{
    text-align: center;
    vertical-align: baseline;
    margin: 0 auto;

    &__list{
        width: 138px;
        height: 30px;
        border-radius: 3px;
        border: 1px solid rgb(199, 196, 196);
        background-color: rgb(245, 245, 245);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
        margin-left: 10px;
        margin-bottom: 20px;

    }
    &__icons{
        padding-top: 3px;
        padding-right: 5px;
        margin: 0 auto;
        display: inline-block;
        height: 26px;
        padding-left: 6px;
        font-size: 13px;
        color: black;
        font-weight: bold;
        vertical-align: middle;
    }
    &__social-count {
        margin: 0 auto;
        height: 26px;
        font-size: 12px;
        color: black;
        font-weight: bold;
        vertical-align:middle;
        border-left: 0.5px solid  rgb(199, 196, 196);;
        padding-top: 6px;
        padding-bottom: 4px;
        padding-left: 9px;
        padding-right: 15px;
        background-color:white;
    }


}
.social-count2{
    padding-top: 7px;
    padding-bottom: 5px;
    padding-right: 24px;
}
.social-count3{
    padding-top: 7px;
    padding-bottom: 5px;
    padding-right: 25px;
}
.revolutionary{
    padding-left: 21px;
    padding-right: 21px;
    &__trial{
        padding-top: 50px;
        padding-bottom: 79px;
        font-size: 14px;
        line-height: 14px;
        color: #848E97;
    }
    &__title{
        font-size: 26px;
        line-height: 28px;
        font-weight: bold;
        text-transform: uppercase;
        color: #635C73;
        padding-bottom: 27px;
    }
    &__description{
        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
        color: #323232;
        padding-bottom: 36px;
    }
}
@media (min-width: 768px){
    .wrapper{
        max-width: 768px;
        margin: 0 auto;
    }
    .revolutionary{
        &__title{
            padding-bottom: 33px;
            font-size: 42px;
            line-height: 42px;
        }
        &__description{
            font-size: 21px;
            line-height: 32px;
        }
    }
}
@media (min-width: 1200px){
    .wrapper{
        max-width: 1200px;
        margin: 0 auto;
    }
    .revolutionary{
        &__title{
            font-size: 54px;
            line-height: 54px;
            padding-bottom: 35px;
        }
    }
    .buttons{
        padding-bottom: 70px;
    }

}

.hwyg{
    font-family: "Montserrat", sans-serif;
}

.features{
    padding-left: 21px;
    padding-right: 21px;
    &__title{
        padding-top: 120px;
        padding-bottom: 36px;
        color:  #8D81AC;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
    }
    &__text{
        padding-top: 27px;
        padding-bottom: 40px;

    }
    &__item{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #323232;
        padding-bottom: 14px;
    }
    &__descriptions{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #848E97;
    }
}
.editor{
    text-align: right;
    right: 0;
    &__pic{
        text-align: right;
        right: 0;

    }


}
.hwyg-desktop{
    &__title{
        display: none;
    }
}


@media (min-width: 768px){

    .features{
        text-align: left;
        max-width: 768px;
        margin: 0 auto;
        &__title{
            margin-top: 160px;
            padding-bottom: 60px;
            font-size: 42px;
            line-height: 44px;
        }
        &__block{
            display: flex;
            gap: 45px;
            margin-top: 5%;
            width: 100%;
        }
        &__picture{
            position: relative;
            padding-top: 20%;
            width: 34%;

        }
        &__icons{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }
        &__first-icon{
            width: 111px;
            height: 64px;
        }
        &__second-icon{
            width: 80px;
            height: 80px;
        }
        &__third-icon{
            width: 60px;
            height: 84px;
        }
        &__four-icon{
            width: 80px;
            height: 80px;
        }

        &__text{
            margin-left: 1%;
            padding-top: unset;
            justify-content: start;
        }

    }

    .editor{
        text-align: right;
        width: 100%;
        margin-right: 0;
        margin-top: 96px;

        &__pic{
            height: 519px;
            width: 700px;
            right: 0;
            text-align: right;
        }

    }
    .hwyg-desktop{
        &__title{
            display: none;
        }
    }

}
@media (min-width: 1200px){
    .hwyg{
        background: #E5E5E5;
        display: flex;
    }

    .hwyg-desktop{
        padding-top: 94px;
        display: flex;
        &__title{
            margin-top: 94px;
            display:unset;
            padding-bottom: 36px;
            color:  #8D81AC;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 50px;
        }
        .features{
            &__text{
                padding-bottom: 10px;
            }
        }
        .editor{
            margin-top: 94px;

            &__pic{
                padding-top: 36px;
            }
        }


    }

    .features{
        &__title{
            display: none
        }
    }

}